<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622328305713-6e45hm9gd5elkug9hnapr0d0f449kgpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622328305713-6e45hm9gd5elkug9hnapr0d0f449kgpb</string>
	<key>API_KEY</key>
	<string>AIzaSyDHBgk0Kd-DT7vD32jQ9cw0_0qcMaWD7ds</string>
	<key>GCM_SENDER_ID</key>
	<string>622328305713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chloeyan.Plantly</string>
	<key>PROJECT_ID</key>
	<string>plantly-2f1f4</string>
	<key>STORAGE_BUCKET</key>
	<string>plantly-2f1f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622328305713:ios:33a0c49e9ab8ec88089d10</string>
	<key>DATABASE_URL</key>
	<string>https://plantly-2f1f4.firebaseio.com</string>
</dict>
</plist>